<form>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="importance">Importance</label><br>
    <input type="text" id="importance" name="importance"><br>

    <label for="duedate">Due Date</label><br>
    <input type="text" id="duedate" name="duedate"><br>

    <label for="finished">Finished</label><br>
    <input type="text" id="finished" name="finished"><br>

    <label for="description">Description</label><br>
    <input type="text" id="description" name="description"><br>

    <input type="submit" value="Create">
    <input type="submit" value="Create & Overview">
    <input type="submit" value="Overview">
</form>