<form>
    <label for="title">Title</label><br>
    <input type="text" id="title-input" name="title" required><br>

    <label for="importance">Importance</label><br>
    <input type="number" id="importance-input" name="importance" min="1" max="5" required><br>

    <label for="duedate">Due Date</label><br>
    <input type="date" id="duedate-input" name="duedate" required><br>

    <label for="finished">Finished</label><br>
    <input type="checkbox" id="finished-input" name="finished"><br>

    <label for="description">Description</label><br>
    <input type="text" id="description-input" name="description" required><br>

    <input type="submit" value="Create">
    <input type="submit" value="Create & Overview">
</form>
<a href="/"><button>Overview</button></a>