<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <style>
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
        }
        .header {
            display: flex;
            justify-content: space-between;
        }
        .sort-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .sort-container button {
            width: 300px;
        }
        #filter-completed-button {
            margin-left: auto;
        }
        button {
            background-color: #0276FF;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #fff;
            padding: 10px 21px;
            margin: 5px;
            text-align: center;
        }
        button:hover {
            background-color: #1C84FF;
        }
        button.selected {
            background-color: #005ac2;
        }
        .todo-container {
            display: grid;
            grid-template-columns: 1fr 1fr 70px;
            grid-template-rows: auto;
            grid-template-areas: "duedate title importance"
                                 "finished description description"
                                 "edit edit edit";
        }
        .duedate-field {
            grid-area: duedate;
        }
        .title-field {
            grid-area: title;
        }
        .importance-field {
            grid-area: importance;
        }
        .finished-field {
            grid-area: finished;
            color: gray;
        }
        .description-field {
            grid-area: description;
        }
        .edit-button {
            grid-area: edit;
            grid-column: 1 / 4;
            width: 99%;
            margin-left: auto;
        }
        @media (min-width: 768px) {
            .sort-container button {
                width: auto;
            }
            .todo-container {
                grid-template-columns: 2fr 6fr 1fr 100px;
                grid-template-rows: auto;
                grid-template-areas: "duedate title importance edit"
                                     "finished description description edit";
            }
            .edit-button {
                grid-column: 4;
                width: auto;
            }
        }
    </style>
    {{#if_eq theme 'dark'}}
        <style>
            body {
                background: black;
                color: white;
            }
        </style>
    {{/if_eq}}
</head>
<body>
{{{body}}}
</body>
</html>
