<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <style>
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            box-sizing: border-box;
        }
        .create-toggle-container {
            display: flex;
            justify-content: space-between;
        }
        .sort-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .sort-container button {
            width: 300px;
        }
        .sort-container a:nth-child(5) {
            margin-left: auto;
        }
        button, input[type="submit"] {
            background-color: #0276FF;
            border-radius: 8px;
            border-style: none;
            color: #fff;
            padding: 10px 21px;
            margin: 5px 0;
            text-align: center;
        }
        button:hover, input[type="submit"]:hover {
            background-color: #1C84FF;
        }
        button.selected {
            background-color: #005ac2;
        }
        .todo-container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 70px;
            grid-template-rows: auto;
            grid-template-areas: "duedate title importance"
                                 "finished description description"
                                 "edit edit edit";
        }
        .todo-container span:nth-child(1) {
            grid-area: duedate;
        }
        .todo-container span:nth-child(2) {
            grid-area: title;
        }
        .todo-container span:nth-child(3) {
            grid-area: importance;
        }
        .todo-container span:nth-child(4) {
            grid-area: finished;
            color: gray;
        }
        .todo-container span:nth-child(5) {
            grid-area: description;
        }
        .todo-container a, .todo-container a button {
            grid-area: edit;
            grid-column: 1 / 4;
            width: 100%;
            margin-left: auto;
        }
        input[type="submit"] {
            width: 100%;
        }
        .overview-button {
            width: 100%;
        }
        input[type="text"],input[type="number"],input[type="date"] {
            width: 100%;
            padding: 5px;
        }
        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        label[for="finished"] {
            display: inline;
        }
        #duedate-input {
            margin-bottom: 10px;
        }
        #description-input {
            margin-bottom: 10px;
            width: 100%;
            height: 100px;
        }
        @media (min-width: 768px) {
            .sort-container button {
                width: auto;
            }
            .todo-container {
                grid-template-columns: 2fr 6fr 1fr 100px;
                grid-template-rows: auto;
                grid-template-areas: "duedate title importance edit"
                                     "finished description description edit";
            }
            .todo-container a, .todo-container a button {
                grid-column: 4;
                width: auto;
            }
            input[type="submit"], .overview-button {
                width: auto;
            }
            form {
                display: inline;
            }
            .sort-container {
                gap: 10px;
            }
        }
    </style>
    {{#if_eq theme 'dark'}}
        <style>
            body {
                background: black;
                color: white;
            }
        </style>
    {{/if_eq}}
</head>
<body>
{{{body}}}
</body>
</html>
