<h1>Input</h1>
<table>
    <tr>
        <td>From</td>
        <td>{{from}}</td>
    </tr>
    <tr>
        <td>To</td>
        <td>{{to}}</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>{{quantity}}</td>
    </tr>
</table>
<h1>Result</h1>
<ol>
    {{#each randomList}}
    <li>{{this}}</li>
    {{/each}}
</ol>
