<form action="/random" method="post">
    <label for="quantity">Quantity</label><br>
    <input type="text" id="quantity" name="quantity"><br>
    <label for="from">From</label><br>
    <input type="text" id="from" name="from"><br>
    <label for="to">To</label><br>
    <input type="text" id="to" name="to"><br>
    <input type="submit" value="Submit">
</form>
