<h1>Express Handlebars XSS Demo</h1>
<p><a href="users">Safe Handlebars User List</a></p>
<p><a href="users/xss">Vulnerable Handlebars User List</a></p>
<p><a href="users/sanitized">Vulnerable Handlebars with Sanitized User List</a></p>

